<div class="container">

		<div class="jumbotron">
			<h1>Eat-Da-Burger</h1>
			<p class="lead">Add burgers and devour them!</p>
		</div>

		<div class="card mb-3">
			<div class="card-header">
				Add a Burger
			</div>
			<div class="card-body">
				<form action="/" method="POST">
					<div class="form-group">
						<input type="text" class="form-control" aria-describedby="add-burger" name="name" placeholder="New burger">
					</div>
					<button type="submit" class="btn btn-primary" id="burger-submit">Add burger
					</button>
				</form>
			</div>
		</div>

        
		<div class="card mb-3">
			<div class="card-header">
				Devour a Burger
			</div>
			<div class="card-body">
                <ul>
                    {{#each burgers}}
                    {{#unless this.devoured}}
                    <li>
                        {{this.burger_name}}
                        <form action="/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devour" value="true">
                            <button type="submit">Devour!</button>
                        </form>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
			</div>
		</div>

		<div class="card mb-3">
			<div class="card-header">
				Devoured Burgers
			</div>
			<div class="card-body">
                <ul>
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <li>{{this.burger_name}}</li>
                    {{/if}}
                    {{/each}}
                </ul>
			</div>
		</div>
        


	</div>